#####################################################
#
# List of approvers for OpenTelemetry Configuration repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/configuration-approvers
