# sdk-config.yaml is a typical starting point for configuring the SDK, including exporting to
# localhost via OTLP.

# NOTE: With the exception of env var substitution syntax (i.e. ${MY_ENV}), SDKs ignore
# environment variables when interpreting config files. This including ignoring all env
# vars defined in https://opentelemetry.io/docs/specs/otel/configuration/sdk-environment-variables/.

# The file format version.
# The yaml format is documented at
# https://github.com/open-telemetry/opentelemetry-configuration/tree/main/schema TODO The file format version. The yaml format is documented at https://github.com/open-telemetry/opentelemetry-configuration/tree/main/schema
file_format: "1.0-rc.2"
# Configure if the SDK is disabled or not. If omitted or null, false is used.
disabled: false
# Configure the log level of the internal logger used by the SDK. If omitted, info is used.
log_level: info
# Configure resource for all signals. If omitted, the default resource is used.
resource:
  # TODO
  attributes:
    - # TODO
      name: service.name
      # TODO
      value: unknown_service
# Configure general attribute limits. See also tracer_provider.limits, logger_provider.limits.
attribute_limits:
  # TODO
  attribute_value_length_limit:
  # TODO
  attribute_count_limit: 128
# Configure text map context propagators. If omitted, a noop propagator is used.
propagator:
  # TODO
  composite:
    - # TODO
      tracecontext:
    - # TODO
      baggage:
# Configure tracer provider. If omitted, a noop tracer provider is used.
tracer_provider:
  # TODO
  processors:
    - # TODO
      batch:
        # TODO
        schedule_delay: 5000
        # TODO
        export_timeout: 30000
        # TODO
        max_queue_size: 2048
        # TODO
        max_export_batch_size: 512
        # TODO
        exporter:
          # TODO
          otlp_http:
            # TODO
            endpoint: http://localhost:4318/v1/traces
            # TODO
            tls:
              # TODO
              certificate_file:
              # TODO
              client_key_file:
              # TODO
              client_certificate_file:
            # TODO
            compression: gzip
            # TODO
            timeout: 10000
            # TODO
            headers: []
  # TODO
  limits:
    # TODO
    attribute_value_length_limit:
    # TODO
    attribute_count_limit: 128
    # TODO
    event_count_limit: 128
    # TODO
    link_count_limit: 128
    # TODO
    event_attribute_count_limit: 128
    # TODO
    link_attribute_count_limit: 128
  # TODO
  sampler:
    # TODO
    parent_based:
      # TODO
      root:
        # TODO
        always_on:
      # TODO
      remote_parent_sampled:
        # TODO
        always_on:
      # TODO
      remote_parent_not_sampled:
        # TODO
        always_off:
      # TODO
      local_parent_sampled:
        # TODO
        always_on:
      # TODO
      local_parent_not_sampled:
        # TODO
        always_off:
# Configure meter provider. If omitted, a noop meter provider is used.
meter_provider:
  # TODO
  readers:
    - # TODO
      periodic:
        # TODO
        interval: 60000
        # TODO
        timeout: 30000
        # TODO
        exporter:
          # TODO
          otlp_http:
            # TODO
            endpoint: http://localhost:4318/v1/metrics
            # TODO
            tls:
              # TODO
              certificate_file:
              # TODO
              client_key_file:
              # TODO
              client_certificate_file:
            # TODO
            compression: gzip
            # TODO
            timeout: 10000
            # TODO
            headers: []
            # TODO
            temporality_preference: cumulative
            # TODO
            default_histogram_aggregation: explicit_bucket_histogram
  # TODO
  exemplar_filter: trace_based
# Configure logger provider. If omitted, a noop logger provider is used.
logger_provider:
  # Configure log record processors.
  processors:
    - # Configure a batch log record processor.
      batch:
        # Configure delay interval (in milliseconds) between two consecutive exports. 
        # Value must be non-negative.
        # If omitted or null, 1000 is used.
        schedule_delay: 1000
        # Configure maximum allowed time (in milliseconds) to export data. 
        # Value must be non-negative. A value of 0 indicates no limit (infinity).
        # If omitted or null, 30000 is used.
        export_timeout: 30000
        # Configure maximum queue size. Value must be positive.
        # If omitted or null, 2048 is used.
        max_queue_size: 2048
        # Configure maximum batch size. Value must be positive.
        # If omitted or null, 512 is used.
        max_export_batch_size: 512
        # Configure exporter.
        exporter:
          # Configure exporter to be OTLP with HTTP transport.
          otlp_http:
            # TODO
            endpoint: http://localhost:4318/v1/logs
            # TODO
            tls:
              # TODO
              certificate_file:
              # TODO
              client_key_file:
              # TODO
              client_certificate_file:
            # TODO
            compression: gzip
            # TODO
            timeout: 10000
            # TODO
            headers: []
  # Configure log record limits. See also attribute_limits.
  limits:
    # Configure max attribute value size. Overrides .attribute_limits.attribute_value_length_limit.
    # Value must be non-negative.
    # If omitted or null, there is no limit.
    attribute_value_length_limit:
    # Configure max attribute count. Overrides .attribute_limits.attribute_count_limit.
    # Value must be non-negative.
    # If omitted or null, 128 is used.
    attribute_count_limit: 128
