name: Build Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  check-schema:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: install dependencies
      run: npm install

    - name: compile schema
      run: make compile-schema

    - name: validate example
      run: make validate-examples

    - name: generate descriptions
      run: make generate-descriptions

    - name: check for diff
      run: |
        # need to "git add" to detect any changes to descriptions which are not checked in
        # select files from both /examples
        git add examples**
        if git diff --cached --quiet
        then 
          echo "No diff detected."
        else 
          echo "Diff detected - did you run 'make generate-descriptions'?"
          echo $(git diff --cached --name-only)
          echo $(git diff --cached)
          exit 1
        fi

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # pinning this to v2.4.1 as newer versions break things
      - uses: lycheeverse/lychee-action@885c65f3dc543b57c898c8099f4e08c8afd178a2 # v2.6.1
        with:
          # excluding links to pull requests and issues is done for performance
          args: >
            --config .github/.lychee.toml
            -v
            .
